@tailwind base;
@tailwind components;
@tailwind utilities;


html{
   scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,700&display=swap');

.content-div{
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
   background: rgba(2,0,36,0.8);
    
    /* background: linear-gradient(360deg, rgba(36, 8, 22, 0.39) 4.52%, rgba(78, 72, 229, 0.11) 91.43%); */
    
   }
   
   .clip{
      /* clip-path: polygon(39% 5%, 54% 2%, 76% 0, 100% 0, 100% 100%, 50% 100%, 32% 100%, 0 100%, 0 16%, 21% 9%); */
      
}
.content-padding > img:not(:first-child){
  padding-inline: 10px;
}
.home6-bg{
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 100vw;
}
.home7-img{
   background-repeat: no-repeat;
   background-position: top;
   background-size: cover;
   background: rgba(2,0,36,0.8);
/* background: linear-gradient(90deg, rgba(2,0,36,1) 10%, rgba(0,180,222,1) 85%, rgba(0,212,255,1) 100%); */
   /* background: linear-gradient(360deg, rgba(36, 8, 22, 0.39) 4.52%, rgba(78, 72, 229, 0.11) 91.43%); */

}
@media screen and (max-width:480px){
   .content-div{
    clip-path: none;
   }
}